<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>MyServlet</servlet-name>
  	<display-name>MyServlet</display-name>
  	<description></description>
  	<servlet-class>MyServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>serv2</servlet-name>
  	<display-name>serv2</display-name>
  	<description></description>
  	<servlet-class>com.serv2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>sqservlet</servlet-name>
  	<display-name>sqservlet</display-name>
  	<description></description>
  	<servlet-class>com.sqservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Endterm</servlet-name>
  	<display-name>Endterm</display-name>
  	<description></description>
  	<servlet-class>com.Endterm</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>End</servlet-name>
  	<display-name>End</display-name>
  	<description></description>
  	<servlet-class>com.End</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>slogin</servlet-name>
  	<display-name>slogin</display-name>
  	<description></description>
  	<servlet-class>com.slogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ssLogin</servlet-name>
  	<display-name>ssLogin</display-name>
  	<description></description>
  	<servlet-class>com.ssLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>add</servlet-name>
  	<display-name>add</display-name>
  	<description></description>
  	<servlet-class>com.add</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>del</servlet-name>
  	<display-name>del</display-name>
  	<description></description>
  	<servlet-class>com.del</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>update</servlet-name>
  	<display-name>update</display-name>
  	<description></description>
  	<servlet-class>com.update</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>view</servlet-name>
  	<display-name>view</display-name>
  	<description></description>
  	<servlet-class>com.view</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>register</servlet-name>
  	<display-name>register</display-name>
  	<description></description>
  	<servlet-class>com.register</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>fLoginProcess</servlet-name>
  	<display-name>fLoginProcess</display-name>
  	<description></description>
  	<servlet-class>com.fLoginProcess</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>fLoginprocess</servlet-name>
  	<display-name>fLoginprocess</display-name>
  	<description></description>
  	<servlet-class>com.fLoginprocess</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>fRegprocess</servlet-name>
  	<display-name>fRegprocess</display-name>
  	<description></description>
  	<servlet-class>com.fRegprocess</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>fUpdateprocess</servlet-name>
  	<display-name>fUpdateprocess</display-name>
  	<description></description>
  	<servlet-class>com.fUpdateprocess</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>fDeleteprocess</servlet-name>
  	<display-name>fDeleteprocess</display-name>
  	<description></description>
  	<servlet-class>com.fDeleteprocess</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MyServlet</servlet-name>
  	<url-pattern>/MyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>serv2</servlet-name>
  	<url-pattern>/serv2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>sqservlet</servlet-name>
  	<url-pattern>/sqservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Endterm</servlet-name>
  	<url-pattern>/Endterm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>End</servlet-name>
  	<url-pattern>/End</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>slogin</servlet-name>
  	<url-pattern>/slogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ssLogin</servlet-name>
  	<url-pattern>/ssLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>add</servlet-name>
  	<url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>del</servlet-name>
  	<url-pattern>/del</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>update</servlet-name>
  	<url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>view</servlet-name>
  	<url-pattern>/view</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>register</servlet-name>
  	<url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>fLoginProcess</servlet-name>
  	<url-pattern>/fLoginProcess</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>fLoginprocess</servlet-name>
  	<url-pattern>/fLoginprocess</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>fRegprocess</servlet-name>
  	<url-pattern>/fRegprocess</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>fUpdateprocess</servlet-name>
  	<url-pattern>/fUpdateprocess</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>fDeleteprocess</servlet-name>
  	<url-pattern>/fDeleteprocess</url-pattern>
  </servlet-mapping>
</web-app>
